<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 페이지</title>
</head>
<body>
    <h3>주문봇</h3>
    <div id="chat-box"></div>
    <input type="text" id="chat-message-input" placeholder="메시지를 입력하세요">
    <button type="submit" id="send-button">입력</button>

    <script>
        const chatBox = document.getElementById('chat-box');
        const chatInput = document.getElementById('chat-message-input');

        const ws = new WebSocket(`ws://${window.location.host}/ws/chat/`);
        ws.onopen = function(e) { console.log("웹소켓이 서버와 연결되었습니다."); };
        ws.onclose = function(e) { console.log("웹소켓과 서버와의 연결이 끊어졌습니다."); };
        ws.onerror = function(e) { console.error("웹소켓과 서버와의 연결 중에 오류가 발생했습니다.", e); };
        
        function sendMessage() {
            const message = chatInput.value;
            const currentTime = new Date().toLocaleString('ko-KR'); // 한국 현재 시간
            chatBox.innerHTML += `<div class="chat-message"><div>${message}</div><div>${currentTime}</div></div>`; // 사용자가 입력한 메시지와 현재 시간을 오른쪽 정렬로 채팅창에 추가
            ws.send(JSON.stringify({'message': message, 'date': currentTime})); // 메시지를 JSON 형태로 서버에 전송
            chatInput.value = ''; // 입력창을 비움
        }
    
        document.getElementById('send-button').onclick = function(e) {
            e.preventDefault();
            sendMessage();
        };
    
        chatInput.onkeypress = function(e) {
            if (e.key === 'Enter') {
                e.preventDefault(); // Enter 키가 눌렸을 때의 기본 동작을 방지
                sendMessage();
            }
        };

        ws.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chatBox.innerHTML += `<div>${data.message}</div>`; // 서버로부터 받은 메시지를 채팅창에 표시
        };
    </script>
</body>
</html>
